name: Build Rectify11 Installer

on:
  push:
    branches: "master" 
  pull_request:
    branches: "master"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Download Windhawk Offline Installer
      run: |
        curl -L -o Rectify11Installer\Rectify11\windhawk_setup_offline.exe https://github.com/ramensoftware/windhawk/releases/latest/download/windhawk_setup_offline.exe

    - name: Create Files.7z archive
      run: |
        cd Rectify11Installer\Rectify11
        7z a Files.7z Fonts Media Mods Regs SymChk System32 cursors themes wallpapers Rectify11 windhawk_setup_offline.exe SecureUxTheme_x64.msi Rectify11\AccentColorizer.exe

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Release x64
      run: msbuild Rectify11Installer.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Rectify11Installer-x64
        path: ${{ github.workspace }}\x64\Release\